

#hero {
    background-image: url('pictures/66-best-sneakers-001-15275042-1440.webp');
    background-size: cover; 
    background-position: center; 
    color: #ffffff;
    padding: 100px 50px;
    text-align: center;
}

#hero .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero .hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

#hero .btn {
    background-color: #e91e63;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#hero .btn:hover {
    background-color: #c2185b;
}

/*Featured Products Section Styles*/

#featured-products {
    padding: 50px 50px;
    background: rgba(255, 255, 255, 0.437);
}

#featured-products .content h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product-item {
    width: 30%;
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item h3 {
    font-size: 22px;
    margin: 10px 0;
}

.product-item p {
    font-size: 18px;
    margin-bottom: 15px;
}

.product-item .btn {
    background-image:url("pictures/font\ bleu.jpg");
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.product-item .btn:hover {
    background-color: #0097a7;
}
 /*hover for the button*/
 .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95); 
}
